<!DOCTYPE html>
<html>
    <head>
	    <meta charset="UTF-8" />
		<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<title>验证码组件</title>
		
		<script src="//s2.vipstatic.com/js/public/jquery-1.10.2.js?2017062301" type="text/javascript"></script>
		<style>
			body{background: #ccc;}
		</style>
	</head>
	<body>
	</body>
</html>